# --- Lõi xử lý AI & Deep Learning ---
torch==2.6.0+cu124
torchaudio==2.6.0+cu124
torchvision==0.21.0+cu124
transformers==5.3.0
accelerate==1.13.0
evaluate==0.4.6
datasets==4.7.0

# --- Tích hợp API ---
groq==1.1.1
python-dotenv==1.2.2

# --- Xử lý Âm thanh (STT & TTS) ---
numpy==1.26.4
soundfile==0.13.1
sounddevice==0.5.5
edge-tts==7.2.7
webrtcvad-wheels==2.0.14
DeepFilterNet==0.5.6

# --- Giao diện Terminal ---
rich==14.3.3


NOTE: 

_Để chạy được code thì phải tải có thư mục vsmec_emotion_model gồm thư mục /best (quan trọng) và 5 cái thư mục checkpoint

_Thư mục vsmec_emotion_mode được cài khi tải UIT_VSMEC

